{%extends 'pages_app/base_template.html'%} {%block content%}
<h1>
  ¿Quiénes somos?
  <h1>
    <hr />

    <h3>Luciano Benjamín Lezana</h3>
    <p>Estudiante de Python</p>
    <p class="col-6">
      Hola soy Luciano Lezana y tengo 21 años, desde que tengo memoria me
      interesa mucho el mundo de la programacion, soñe con crear juegos, crear
      programas que ayuden a las personas, basicamente crear soluciones eso
      siempre. Me considero muy creativo y esa creatividad sale por la musica
      que en mi vida es muy importante, lo que mas escucho desde que soy chico
      es rock nacional argentino. En estos ultimos años entre buscar y buscar
      encontre este curso, que me ayudo a afianzar aun mas el cariño que le
      tengo a esto, escribir codigo. Tengo mucha influencia por mi familia, mi
      padre actualmente es Ingeniero en sistemas y como decia verlo trabajar a
      el, junto con entregar todo por un dicho trabajo fue lo que me llevo poco
      a poco hasta aqui. Asi que nada mas, eso es todo, espero les guste nuestro
      trabajo y gracias por ser el principio de este pequeño y largo camino por
      recorrer.
    </p>
    <hr />
    <p>Estudiante de Python</p>
    <h3>Lucía Roig Seigneur</h3>
    <p class="col-6">
      Trabajo como Desarrolladora Frontend freelance y también soy Artista
      Sonora y Coreógrafa. Realizo el diseño sonoro para proyectos
      audiovisuales, de danza, y videojuegos. Actualmente estoy cursando la
      Diplomatura en Desarrollo Artístico de Videojuegos (UNCuyo) y me interesa
      la creación de mundos virtuales (metaverse). Busco trabajar en entornos
      vinculados con el arte y los videojuegos.
    </p>
    {%endblock%}
  </h1>
</h1>
